.menu {
    position: absolute;
    border: 2px solid rgb(66, 66, 66);
    left: 0;
    top: 40px;
    display: flex;
    border-radius: 20px;
    align-items: center;
    width: 160px;
    padding: 0 20px;
    height: 94%;
    background-color: rgb(36, 36, 36);
}

.menu__name{
    margin-bottom: auto;
    padding-top: 10px;
    font-size: 20px;
    line-height: 1;
    font-weight: 700px;
    color: rgb(99, 204, 204);
}

.menu__nav{
    position: fixed;
    top: 10;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
}

.menu__nav-list{
    flex: 1;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 0;
}

.menu__nav-item{
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 10px 0;
    height: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: white;
}

.menu__nav-item:hover{
    background-color: rgb(43, 43, 43);
    transition: 0.2s;
}

.menu__nav-item:focus { background-color: rgb(43, 43, 43) }