.menu {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 160px;
    padding: 0 20px;
    height: 100%;
    background-color: rgb(73, 73, 73);
}

.menu__name{
    margin-bottom: auto;
    padding-top: 10px;
    font-size: 20px;
    line-height: 1;
    font-weight: 700px;
    color: rgb(255, 255, 255);
}

.menu__nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100%;
}

.menu__nav-list{
    flex: 1;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
}

.menu__nav-item{
    margin: 20px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: white;
}

.menu__nav-item:hover{
    color: rgb(175, 175, 175);
    transition: 0.2s;
}